<h1>My Restaurants</h1>

<%= link_to 'Create New Restaurant', new_restaurant_path, class: "btn btn-primary mb-3" %>

<% if @restaurants.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Cuisine Type</th>
        <th>Status</th>
        <th>Note</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.description %></td>
          <td><%= restaurant.location %></td>
          <td><%= restaurant.cuisine_type %></td>
          <td><%= restaurant.status %></td>
          <td><%= restaurant.note.presence || "-" %></td>
          <td><%= restaurant.likes || 0 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You haven’t created any restaurants yet.</p>
<% end %>
